http://:10000 {
    bind 0.0.0.0

    reverse_proxy /ws/* {$LSP_ORIGIN}
    reverse_proxy /ws_mp/* {$MULTIPLAYER_ORIGIN}
    reverse_proxy /api/srch/* {$INDEXER_ORIGIN}
    # reverse_proxy /metrics https://{$WINDMILL_SERVER_HOST}

    # Default catch-all reverse proxy
    reverse_proxy {$WINDMILL_SERVER_ORIGIN}
}
